pipeline/AutoPuaseDedicatedSQLPool.json
{
	"name": "AutoPuaseDedicatedSQLPool",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(bool(startswith(activity('PoolStatusCheck').Output.Properties.Status,'Paused')), bool(startswith(activity('PoolStatusCheck').Output.Properties.Status, 'Online')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "PoolStatusCheck",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "https://management.azure.com/subscriptions/@{pipeline().parameters.SubscriptionID}/resourceGroups\n/@{pipeline().parameters.ResourceGroup}/providers/Microsoft.Synapse/workspaces/@{\npipeline().parameters.WorkspaceName}/sqlPools/@{pipeline().parameters.SQLPoolName}/?\napi-version=2019-06-01-preview\n\n\n",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"method": "GET",
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com/"
								}
							}
						},
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "PoolStatusCheck",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": {
									"value": "@pipeline().parameters.WaitSecRetry",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"parameters": {
			"ResourceGroup": {
				"type": "string",
				"defaultValue": "Nithin-Synapse"
			},
			"SubscriptionID": {
				"type": "string",
				"defaultValue": " da16ec95-05d4-4b58-9f85-0e95af4fef4c"
			},
			"WorkspaceName": {
				"type": "string",
				"defaultValue": "nithin-synapse-workspace2"
			},
			"SQLPoolName": {
				"type": "string",
				"defaultValue": "nithin_poc_sqlpool"
			},
			"PauseorResume": {
				"type": "string",
				"defaultValue": "pause"
			},
			"WaitSec": {
				"type": "string",
				"defaultValue": "10"
			},
			"WaitSecRetry": {
				"type": "string",
				"defaultValue": "30"
			}
		},
		"annotations": []
	}
}