pipeline/MergeSalesforceDatafromRawtoGold.json
{
	"name": "MergeSalesforceDatafromRawtoGold",
	"properties": {
		"activities": [
			{
				"name": "LookupforServerDetails",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_ba_poc_adlsgen2_json",
						"type": "DatasetReference",
						"parameters": {
							"dsparamFileName": "SynSQLServerDetails.json",
							"dsparamContainerName": "poc",
							"dsparamDirectoryName": "configfiles"
						}
					}
				}
			},
			{
				"name": "Lookup SPNames",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LookupforServerDetails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_ba_poc_adls_delimit",
						"type": "DatasetReference",
						"parameters": {
							"dsparamFileName": "sp_config_salesforce.csv",
							"dsparamContainerName": "poc",
							"dsparamDirectoryName": "configfiles"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach SP",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup SPNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup SPNames').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "SPMergeRawtoGold",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_synapsesql_poc",
								"type": "LinkedServiceReference",
								"parameters": {
									"databaseName": {
										"value": "@activity('LookupforServerDetails').output.firstRow.DatabaseName",
										"type": "Expression"
									},
									"serverName": {
										"value": "@activity('LookupforServerDetails').output.firstRow.ServerName",
										"type": "Expression"
									},
									"userName": {
										"value": "@activity('LookupforServerDetails').output.firstRow.UserName",
										"type": "Expression"
									},
									"password": {
										"value": "@activity('LookupforServerDetails').output.firstRow.Password",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}