pipeline/Pipeline 3.json
{
	"name": "Pipeline 3",
	"properties": {
		"activities": [
			{
				"name": "Get OldRowCount",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_ba_poc_adls_delimit",
						"type": "DatasetReference",
						"parameters": {
							"dsparamFileName": "TablewiseRecordCount.csv",
							"dsparamContainerName": "poc",
							"dsparamDirectoryName": "configfiles",
							"dsparamColumDelimitter": ","
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter Table",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get OldRowCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get OldRowCount').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(concat(item().SchemaName,'.',item().TableName),pipeline().parameters.pipelineParamTableName)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Filter Table",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get NewRowCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Filter Table').output.Value[0].RecordsCount,activity('Get NewRowCount').output.firstRow.RecordsCount)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			},
			{
				"name": "Get NewRowCount",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderQuery": {
							"value": "SELECT COUNT(*) as RecordsCount\nFROM @{pipeline().parameters.pipelineParamTableName}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_ba_poc_synsql",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"parameters": {
			"pipelineParamTableName": {
				"type": "string",
				"defaultValue": "production.brands"
			}
		},
		"annotations": []
	}
}