pipeline/Pipeline 1.json
{
	"name": "Pipeline 1",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": "2022-12-29T00:00:00.129Z",
							"modifiedDatetimeEnd": "2022-12-29T00:00:00.066Z",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_ba_poc_adlsgen2_json",
						"type": "DatasetReference",
						"parameters": {
							"dsparamFileName": "EmailAlertsConfig.json",
							"dsparamContainerName": "poc",
							"dsparamDirectoryName": "configfiles"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().AlertType,'Success')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Result",
					"value": {
						"value": "@activity('Filter1').output.Value[0].ReceiverEmailID\n",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Result": {
				"type": "String"
			},
			"del": {
				"type": "String"
			},
			"nn": {
				"type": "String"
			}
		},
		"annotations": []
	}
}