adf/pipeline/IncrementalLoadusingWatermarkConfigFile.json
{
	"name": "IncrementalLoadusingWatermarkConfigFile",
	"properties": {
		"activities": [
			{
				"name": "LookupWatermarktable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_Delimitted_Config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupWatermarktable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupWatermarktable').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Cpy_IncrementalLoad",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "LookupNewWatermarkValue",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from saleslt.@{item().TableName} \nwhere ModifiedDate>'@{item().WatermarkValue}'\nand \nModifiedDate<=\n'@{activity('LookupNewWatermarkValue').output.firstRow.NewWatermarkValue}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_AzureSQL02",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLGen2_02",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@{item().TableName}",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "LookupNewWatermarkValue",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select max(ModifiedDate) as NewWatermarkValue\nfrom  saleslt.@{item().TableName}\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_AzureSQL02",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "Sp_updateNewWatermarkValue",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Cpy_IncrementalLoad",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SP_update_watermarktable]",
								"storedProcedureParameters": {
									"NewWatermarkValue": {
										"value": {
											"value": "@{activity('LookupNewWatermarkValue').output.firstRow.NewWatermarkValue}",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"TableName": {
										"value": {
											"value": "@{item().TableName}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"FileExists": {
				"type": "Boolean"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-12-08T09:56:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}